<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.downloadConnectionString"
            connectionString="server=localhost;User Id=root;Persist Security Info=True;database=download;password=rootpass5"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.downloadConnectionString1"
            connectionString="server=localhost;User Id=root;password=rootpass5;Persist Security Info=True;database=download"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>